.imageGallery {
    gap: 20px;
}

.imageGallery .column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}

.card-link, 
.card-link:link, 
.card-link:visited, 
.card-link:hover, 
.card-link:active {
    text-decoration: none;
    color: #212529;
}

.card, .card-img, .card-img-top {
    border-radius: 0;
}

.card {
    width: 100%;
}

.two-columns, .three-columns, .four-columns {
    display: none;
}

@media (min-width: 610px) {
    .one-column {
        display: none;
    }
    .two-columns {
        display: flex;
    }
}

@media (min-width: 910px) {
    .two-columns {
        display: none;
    }
    .three-columns {
        display: flex;
    }
}

@media (min-width: 1210px) {
    .three-columns {
        display: none;
    }
    .four-columns {
        display: flex;
    }
}

.one-column .column {
    width: 100%;
}

.two-columns .column {
    width: 50%;
}

.three-columns .column {
    width: 33%;
}

.four-columns .column {
    width: 25%;
}

/*------------------------------*/
/*          Toggle Pill         */
/*------------------------------*/

.toggler-wrapper {
	display: block;
	width: 45px;
	height: 25px;
	cursor: pointer;
	position: relative;
    float: right;
}

.toggler-wrapper input[type="checkbox"] {
	display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
	background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
	background-color: #ccc;
	position: absolute;
	border-radius: 100px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
	position: absolute;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
	left: calc(100% - 19px - 3px);
}

.toggler-wrapper .toggler-knob {
	width: calc(25px - 6px);
	height: calc(25px - 6px);
	border-radius: 50%;
	left: 3px;
	top: 3px;
	background-color: #fff;
}