/* Background color for browser */
body{
    background-color: lightgrey;
}

/* To hide the text from label */
label{
    
    color: lightgrey;
}

/*Layout*/
.flex-container {
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h2:hover{
    cursor: pointer;
 }
/*Button borders and color*/
 button, .submit-btn {
    border-radius: 5px;
        background-color: black;
        color: white;
        margin: 8px 6px;
        border-radius: 6px;
        
}
/*Input colors and border*/
 input {
    background-color: white;
    color: black;
    margin: 8px 6px;
    border-radius: 6px;
}

/*Resizing the textbox for title*/
.resizedTextbox {
    width: 600px; height: 40px
   
    }

/*Changing color of input file*/
 .colorChange {
    background-color: black;
    color: white;
    margin: 8px 6px;
    border-radius: 6px;
    
    }
    @media (min-width: 320px) {
        .flex-container {
            /*Layout*/
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

        
    }

@media (min-width: 769px) {
    .flex-container {
        /*Layout*/
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
    
}

@media (min-width: 1025px) {
   /*Layout*/
.flex-container {
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
   
}

@media (min-width: 1201px) {
   /*Layout*/
.flex-container {
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
   
}
