body{
    background-color: lightgrey;
}


section {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

input.text {
    width: 600px;
    border-radius: 5px;
    height: 40px
}

input.submit {
    border-radius: 5px;
        background-color: black;
        color: white;
        margin: 8px 6px;
        border-radius: 6px;
        
}

input.cancel {
    border-radius: 5px;
    background-color: black;
    color: white;
    margin: 8px 6px;
    border-radius: 6px;
}

p.newalbum {
    color: black;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 50px;
}

h3:hover{
    cursor: pointer;
 }