body{
  
    background-color: lightgrey;
}
label{
    background-color: lightgray;
    color: lightgray;
}
.myFile{
    background-color: black;
    color: white;
    margin: 8px 6px;
border-radius: 6px;
}

.flex-container {
    
    justify-content: space-around;
    text-align: center;
    
}

.flex-container2{
    justify-content: space-around;
    text-align: center;
     
}

 h3:hover{
    cursor: pointer;
 }

button{
background-color: black;
color: white;
margin: 8px 6px;
border-radius: 6px;
}
   


input {
background-color: white;
color: black;
margin: 8px 6px;
border-radius: 6px;

}

.resizedTextbox {
width: 600px; height: 40px

}

.colorChange {
background-color: black;
color: white;
margin: 8px 6px;
border-radius: 6px;

}
/*Denna är för att få upp bild tillfäligt på browsern*/
#display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }