body {
    background-color: lightgray;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: auto;
    max-width: 100%;
}

.image-title {
    margin-top: 75px;
    font-weight: bold;
    text-align: center;
}

.material-symbols-outlined {
  margin-top: 60px;
  margin-left: 10px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.main-image {
    margin-top: 50px;
    margin-bottom: 10px;
    width: 50%;
    height: auto;
}


.comment-section {
    display: flex;
    background-color: darkgray;
    transform: translate(-50%, -50%);
    width: 500px;
    margin-top: 5px;
    margin-left: 50%;
}

@media only screen and (max-width: 950px) {
    .comment-box {
        padding-top: 100px;
    }
    .main-image {
        min-width: 80%;
    }

}

.comment-box {
    margin-top: 10%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.comment-box h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.comment-box input {
    background-color: darkgray;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment-box textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px; 
}

.comment-box button {
    align-items: center;
    background-color: black;
    color: white;
    border: 50%;
    border-radius: 5%;
    margin-left : 35%;
}

.star-rating {
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 40px auto;
    position: relative;
  }

  input:not(:checked)~ label:hover~ label {
    color:#678D58; 
  }

  .star-rating input {
    display: none;
  }

  .star-rating > label {
    width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: black;
  }

  .star-rating label:hover {
    color: #F6E7CB;
    transition: 0.2s ease;
    opacity: 50%;
  }

  .star-rating label:active::before {
    transform:scale(1.1);
  }

  .star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
  }

  .star-rating input:checked ~ label:before {
    content:'\2605';

  }
